body {
  background-color: #e0e9f9;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 160px;
  padding: 20px;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #1fc8db;
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.App-title * {
  font-size: 1em;
  color: #fbfafa;;
  letter-spacing: 4px;
  font-weight: 900;
}

.App-intro {
  font-size: large;
}

.App-content {
  padding: 20px;
}

.App-container {
  margin: 12em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
