body: {
  background-color: #e0e9f9;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #23714a;
  height: 180px;
  padding: 20px;
}

.App-title * {
  color: #fbfafa;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-content {
  padding: 20px;
}

.App-pagination {
  padding: 10px;
}

.App-search {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-search > h3 > div:first-child {
  margin: 5px 15px 0 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 500px) {
  .App-search {
    flex-direction: row;
  }
  .App-search-input {
    width: 300px;
  }
}
